RABBITMQ_URL=amqp://localhost:5672
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=job_applicator
STORAGE_DIR=/app/uploads
OLLAMA_EMBEDDING_MODEL=nomic-embed-text-v2-moe:latest
NEXT_PUBLIC_SUPABASE_URL=<your-public-supabase-url>
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=<your-publishable-key>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<your-anon-key>
NEXT_PUBLIC_APP_URL=http://localhost:3000
ENABLE_QUERY_LOG=false
